.NewsItemDetailsWrapper {
  margin-top: 6%;
  padding: 0 5% 0 5%;

  h2 {
    font-size: 55px;
  }
  .NewsItemDetailsDateBlock {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin: 2% 0 2% 0;
    a {
      border-bottom: 1px solid transparent;
      color: blue;
      &:hover {
        border-bottom: 1px solid blue;
      }
    }
  }
  .ImageAndTextContainer {
    .image {
      float: left;
      margin-right: 20px;
      width: 30%;
      height: auto;
    }
    .NewsItemDetailsTextBlock {
      margin: 0 0 2% 0;
      text-align: justify;
      font-size: 18px;
      h3 {
        font-size: 35px;
        margin-bottom: 1%;
      }
      h5 {
        margin-top: 2%;
        font-size: 18px;
        font-style: italic;
      }
    }
  }

  .NewsItemDetailsButtonBlock {
    margin-bottom: 6%;
  }
}

//========================================Adaptive==================================================//

.NewsItemDetailsWrapper {
  @media (max-width: 992px) {
    margin-top: 9%;
  }
  @media (max-width: 768px) {
    margin-top: 11%;
  }
  @media (max-width: 576px) {
    margin-top: 13%;
  }
  @media (max-width: 480px) {
    margin-top: 18%;
  }
  h2 {
    @media (max-width: 1400px) {
      font-size: 50px;
    }
    @media (max-width: 992px) {
      font-size: 45px;
    }
    @media (max-width: 568px) {
      font-size: 40px;
    }
  }
  .NewsItemDetailsDateBlock {
    @media (max-width: 992px) {
      margin: 4% 0 4% 0;
    }
    @media (max-width: 480px) {
      flex-direction: column;
      align-items: center;
    }
    p {
      @media (max-width: 480px) {
        margin-bottom: 2%;
      }
    }
  }
  .ImageAndTextContainer {
    .image {
      @media (max-width: 1400px) {
        width: 50%;
      }
      @media (max-width: 480px) {
        float: none;
        width: 100%;
      }
    }
  }
  .NewsItemDetailsTextBlock {
    h3 {
      @media (max-width: 1400px) {
        font-size: 30px !important;
      }
      @media (max-width: 992px) {
        font-size: 27px !important;
      }
      @media (max-width: 992px) {
        font-size: 22px !important;
      }
      @media (max-width: 480px) {
        margin-top: 2%;
        text-align: center;
      }
    }
    p {
      @media (max-width: 768px) {
        overflow-y: scroll;
        max-height: 400px;
        margin-top: 25%;
      }
      @media (max-width: 480px) {
        margin-top: 8%;
      }
    }
  }
}
