body.root,
html.root {
  padding: 0;
  margin: 0;
  outline: none;
  scroll-behavior: smooth;
  font-family: var(--font-montserrat);
}

$blue-color: #30cfeb;
$yellow-color: #f7f0b0;
$gray-color: #383735;
$light_gray-color: #817d75;
$ultra_light_gray-color: #dfdede;

html.root,
body.root {
  & p,
  a,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-decoration: none;
    margin: 0;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  div {
    box-sizing: border-box;
  }
}

html.root,
body.root,
#root {
  height: 100%;
}

.root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}
